.card-bg{
  background-color: white !important;
  border-radius: 4px;
}

.card-text{
  padding: 1.5em;
}

.card-media img{
  max-width: 90vw;
  width: 350px;
  height: 100%;
  border-radius: 4px 0 0 4px;
  object-fit: cover;
}

.card-text img{
  top: 8px;
  position: relative;
  margin-right: 4px;
}

@media (max-width: 1000px){
  .card-media img{
    width: 100%;
    border-radius: 4px 4px 0 0;
  }

  .card-text{
    margin-left: 0 !important;
  }
}
