.navbar{
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 68px;
}

nav img{
  width: 44px;
  margin-top: 13px;
}

.navbar-navigation-items{
  margin-top: 25px;
  float: right;
}


.navbar-navigation{
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.navbar-logo{
  margin-right: auto;
  margin-left: 1rem;
}

.navbar-logo img{
  heigh: 80%;
  width: 80%;
}

.navbar-navigation-items a{
  color: white;
  text-decoration: none;
  padding: 0 0.3em 0 0.3em;
  margin: 0 2em 0 2em;
}

.navbar-navigation-items a:hover{
  font-weight: 700;
}

@media (max-width: 768px){
  .navbar-navigation-items{
    display: none;
  }

  .navbar-navigation{
    display: flex;
  }

  nav a{
    margin-left: 1em;
  }

  nav img{
    margin-top: 0 !important;
  }
}

@media (min-width: 769px){
  .navbar-logo{
    margin-left: 0;
  }
}

.active{
  box-shadow: 0 -0.5em #4200FF inset;
  font-weight: 700;
}
