@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

/* ALL */
body {
  margin: 0;
  height: 100%;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  height: 100%;
}

#root{
  height: 100%;
}

.app{
  height: 100%;
}

section{
  padding-top: 6em;
  padding-bottom: 6em;
}

main{
  height: 100%;
}

footer{
  text-align: center;
  bottom: 0;
  width: 100%;
  margin-bottom: 1em;
}

/* Font styles */
h1{
  color: rgba(0, 0, 0, 0.87);
  font-weight: 700;
  font-size: 38px;
  margin-bottom: 1em;
}

h2{
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 0.2em;
}

h3{
  margin-block-start: 0;
  margin-block-end: 0;
  color: rgba(0, 0, 0, 0.7)
}

p{
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
  margin-block-start: 0;
  margin-block-end: 0;
}

/* Text animation */ TODO Get this working
/* div h1{
  -webkit-animation: textAnimation 1s forwards 0s ease;
}

@-webkit-keyframes textAnimation{
  0%{
    transform: rotate(0) translateY(-15%);
    opacity: 0;
  }
  100%{
    transform: rotate(0) translateY(0);
    opacity: 1;
  }
} */

/* Buttons */
.button{
  font-family: 'Karla', sans-serif !important;
  font-weight: 700;
  color: white;
}

/*LINKS*/
a{
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
}

a:visited{
  color: rgba(0, 0, 0, 0.7);
}

a:hover{
  font-weight: 700;
}

.a-clean{
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.a-clean:visited{
  color: white;
}


/* HOME */ /*TODO* BYT UT BILD*/
.home{
  background-image: url("images/background.png");
  height: 100vh;
  text-align: center;
  margin: 0;
  padding: 0;
}

.home h1{
  color: white;
  margin-bottom: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

@media (max-width: 1000px){
  .block{
    display: block !important;
  }
}

/* Work */
.work{
  background-color: #F9F9F9;
}

/* About */
.about .img-profile{
  height: 100%;
  width: 100%;
  max-width: 450px;
}

@media (max-width: 768px){
  .ml-2{
    margin-left: 0 !important;
  }
}

/* Utils */
.center-vertical{
  width: 50%;
  margin: 0 auto;
}

.centered-content{
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}

@media (max-width: 768px){
  .centered-content{
    width: 90%;
  }
  .center-vertical{
    width: 90%;
  }
}

.center-horizontal{
  padding-top: 40%;
}

.bottom-aligned{
  width: 100%;
  position: absolute;
  bottom: 20px;
}

.flex{
  display: flex;
}

.align-items{
  align-items: center;
}

.ml-1{
  margin-left: 1em;
}

.ml-2{
  margin-left: 2em;
}

.mb-1{
  margin-bottom: 1em;
}

.mb-2{
  margin-bottom: 2em;
}

.mt-2{
  margin-top: 2em;
}

.w-40{
  width: 40%;
}

@media (max-width: 768px){
  .w-40{
    width: 100%;
  }
}
