@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

/* ALL */
body {
  margin: 0;
  height: 100%;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  height: 100%;
}

#root{
  height: 100%;
}

.app{
  height: 100%;
}

main{
  height: 100%;
}

/* Font styles */
h1{
  color: white;
  font-weight: 700;
  font-size: 38px;
  margin-block-start: 0;
  margin-block-end: 0;
}

h2{
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
}

p{
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
}

/* Buttons */
button{
  font-family: 'Karla', sans-serif !important;
}

/* HOME */ /*TODO* BYT UT BILD*/
.home{
  background-image: url("images/background.png");
  height: 100%;
  text-align: center;
}


/* Utils */
.center-vertical{
  width: 50%;
  margin: 0 auto;
}

.center-horizontal{
  padding-top: 50vh;
}

.bottom-aligned{
  position: absolute !important;
  bottom: 10px;
}

.flex{
  display: flex;
}

.align-items{
  align-items: center;
}
